@font-face {
  font-family: 'Roboto Condensed';
  src: url("../fonts/RobotoCondensed-Bold.eot");
  src: url("../fonts/RobotoCondensed-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensed-Bold.woff2") format("woff2"), url("../fonts/RobotoCondensed-Bold.woff") format("woff"), url("../fonts/RobotoCondensed-Bold.ttf") format("truetype"), url("../fonts/RobotoCondensed-Bold.svg#RobotoCondensed-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu-Bold.eot");
  src: url("../fonts/Ubuntu-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Ubuntu-Bold.woff2") format("woff2"), url("../fonts/Ubuntu-Bold.woff") format("woff"), url("../fonts/Ubuntu-Bold.ttf") format("truetype"), url("../fonts/Ubuntu-Bold.svg#Ubuntu-Bold") format("svg");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url("../fonts/RobotoCondensed-Regular.eot");
  src: url("../fonts/RobotoCondensed-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensed-Regular.woff2") format("woff2"), url("../fonts/RobotoCondensed-Regular.woff") format("woff"), url("../fonts/RobotoCondensed-Regular.ttf") format("truetype"), url("../fonts/RobotoCondensed-Regular.svg#RobotoCondensed-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url("../fonts/RobotoCondensed-Light.eot");
  src: url("../fonts/RobotoCondensed-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensed-Light.woff2") format("woff2"), url("../fonts/RobotoCondensed-Light.woff") format("woff"), url("../fonts/RobotoCondensed-Light.ttf") format("truetype"), url("../fonts/RobotoCondensed-Light.svg#RobotoCondensed-Light") format("svg");
  font-weight: 300;
  font-style: normal;
}

.job {
  padding: 0;
  margin: 0;
  width: auto;
  min-height: 450px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(./job-head-image.svg);
  background-position: center;
  z-index: 3;
  border-top: 1px solid yellow;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.my_job {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.my_job h2 {
  font-family: 'Roboto Condensed', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 800;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 30px;
  text-align: center;
}

header {
  font-weight: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.fade {
  opacity: 0;
}

.shemas {
  height: 600px;
  position: relative;
  -webkit-transform: translateY(-90px);
          transform: translateY(-90px);
}

.shemas li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
}

.sss {
  height: 0px;
}

.fa_phone {
  font-size: 49px;
  color: #ffffff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.fa_phone:hover {
  color: blue;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  cursor: pointer;
}

.stroika_logo {
  -webkit-transform: translateY(-150px) rotate(-25.58deg);
          transform: translateY(-150px) rotate(-25.58deg);
  background: #872727;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 20px;
  border-width: 0px;
}

.stroika_logo:hover {
  background: #C4C4C4;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 7px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 7px rgba(0, 0, 0, 0.25);
  -webkit-transform: translateY(-150px) rotate(-25.58deg);
          transform: translateY(-150px) rotate(-25.58deg);
}

.stroika_logo p {
  font-size: 48px;
  color: #ffffff;
}

.linee {
  border: 3px solid #81FF03;
  border-radius: 50%;
  list-style: none;
}

.one {
  background: yellow;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50%;
  -webkit-transform: translateY(120px);
          transform: translateY(120px);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.one:hover {
  -webkit-transform: scale(1.2) translateY(100px);
          transform: scale(1.2) translateY(100px);
}

.one_txt, .two_txt, .tree_txt, .fo_txt {
  -webkit-transform: translateY(120px);
          transform: translateY(120px);
  max-width: 250px;
  text-align: center;
  font-family: 'Roboto Condensed', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 800;
  color: #000;
  text-transform: uppercase;
}

.two {
  background: yellow;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50%;
  -webkit-transform: translate(30px, 10px);
          transform: translate(30px, 10px);
}

.two_txt {
  -webkit-transform: translate(360px, -20px);
          transform: translate(360px, -20px);
  text-align: center;
  max-width: 250px;
}

.tree {
  background: yellow;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50%;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
}

.tree_txt {
  -webkit-transform: translateY(-160px);
          transform: translateY(-160px);
  max-width: 250px;
  text-align: center;
}

.fo {
  background: yellow;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50%;
  -webkit-transform: translateX(-30px);
          transform: translateX(-30px);
}

.fo_txt {
  -webkit-transform: translateX(-120px);
          transform: translateX(-120px);
  max-width: 250px;
  text-align: center;
}

@media only screen and (max-width: 1900px) {
  .my_job {
    padding: 20px 350px 20px 350px;
  }
  .line {
    height: 500px;
  }
  .linee {
    width: 500px;
    height: 500px;
  }
}

@media only screen and (max-width: 1600px) {
  .my_job {
    padding: 20px 320px 20px 320px;
  }
  .line {
    height: 520px;
  }
  .linee {
    width: 500px;
    height: 500px;
  }
}

@media only screen and (max-width: 1200px) {
  .my_job {
    padding: 20px 250px 20px 250px;
  }
  .line {
    height: 450px;
  }
  .linee {
    width: 500px;
    height: 500px;
  }
}

@media only screen and (max-width: 992px) {
  .my_job {
    padding: 20px 150px 20px 150px;
  }
  .my_job h2 {
    font-size: 30px;
  }
  .my_job .line {
    height: 400px;
  }
  .my_job .linee {
    width: 500px;
    height: 500px;
  }
}

@media only screen and (max-width: 768px) {
  .my_job {
    padding: 20px 60px 20px 60px;
  }
  .my_job h2 {
    font-size: 24px;
  }
  .line {
    height: 350px;
  }
  .linee {
    width: 350px;
    height: 350px;
  }
  .two_txt {
    -webkit-transform: translate(160px, -20px);
    -webkit-transform--ms-transform: translate(160px, -20px);
    -webkit-transform--ms-transform-transform: translate(160px, -20px);
    width: 250px;
  }
  .fo {
    -webkit-transform: translate(-15px, 20px);
    -webkit-transform--ms-transform: translate(-15px, 20px);
    -webkit-transform--ms-transform-transform: translate(-15px, 20px);
  }
  .fo_txt {
    -webkit-transform: translate(-95px, 20px);
    -webkit-transform--ms-transform: translate(-95px, 20px);
    -webkit-transform--ms-transform-transform: translate(-95px, 20px);
    width: 250px;
  }
  .stroika_logo {
    position: absolute;
    left: 30px;
    bottom: -190px;
  }
}

@media only screen and (max-width: 480px) {
  .my_job {
    padding: 10px 50px 20px 10px;
  }
  .my_job h2 {
    font-size: 24px;
  }
  .line {
    height: 250px;
  }
  .linee {
    width: 310px;
    height: 310px;
  }
  .one_txt, .two_txt, .tree_txt, .fo_txt {
    font-size: 15px;
    max-width: 200px;
  }
  .two {
    -webkit-transform: translate(15px, 40px);
    -webkit-transform--ms-transform: translate(15px, 40px);
    transform: translate(15px, 40px);
    font-size: 15px;
  }
  .two_txt {
    -webkit-transform: translate(160px, -20px);
    -webkit-transform--ms-transform: translate(160px, -20px);
    -webkit-transform--ms-transform-transform: translate(160px, -20px);
    font-size: 15px;
    width: 200px;
  }
  .tree_txt {
    -webkit-transform: translate(-40px, -140px);
    -webkit-transform--ms-transform: translate(-40px, -140px);
    -webkit-transform--ms-transform-transform: translate(-40px, -140px);
    font-size: 15px;
  }
  .fo {
    -webkit-transform: translate(-25px, 40px);
    -webkit-transform--ms-transform: translate(-25px, 40px);
    -webkit-transform--ms-transform-transform: translate(-25px, 40px);
  }
  .fo_txt {
    -webkit-transform: translate(-40px, 40px);
    -webkit-transform--ms-transform: translate(-40px, 40px);
    -webkit-transform--ms-transform-transform: translate(-40px, 40px);
    font-size: 15px;
    max-width: 200px;
  }
  .stroika_logo {
    position: absolute;
    left: 30px;
    bottom: -190px;
  }
}

@media only screen and (max-width: 320px) {
  .my_job {
    padding: 10px 30px 10px 30px;
  }
  .my_job h2 {
    font-size: 20px;
  }
  .linee {
    width: 300px;
    height: 300px;
  }
  .stroika_logo {
    position: absolute;
    right: 10px;
    bottom: -180px;
  }
}
/*# sourceMappingURL=job.css.map */