.service {
  height: 700px;
  background-image: url(./new-back.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.catalog__info {
  display: block;
  margin-top: 50px;
  padding: 0;
}

.ss {
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  height: 100%;
  text-justify: inter-cluster;
  text-align: left;
}

.products li h3 {
  font-size: 24px;
}

.apparat {
  position: absolute;
  right: 0;
  top: -350px;
  height: 75%;
  width: 75%;
}

@-webkit-keyframes fadeInLeftBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeftBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInLeftBig {
  -webkit-animation-name: fadeInLeftBig;
  animation-name: fadeInLeftBig;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.left {
  position: relative;
}

.left span:nth-child(1) {
  position: absolute;
  border: 1px solid #68AE22;
  height: 300px;
  left: 0px;
  top: -72px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.left span:nth-child(2) {
  position: absolute;
  border: 1px solid #68AE22;
  height: 290px;
  left: 10px;
  top: -72px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.left span:nth-child(3) {
  position: absolute;
  border: 1px solid #68AE22;
  height: 280px;
  left: 20px;
  top: -72px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.left span:nth-child(4) {
  position: absolute;
  border: 1px solid #68AE22;
  height: 270px;
  left: 30px;
  top: -72px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.left span:nth-child(5) {
  position: absolute;
  border: 1px solid #68AE22;
  height: 260px;
  left: 40px;
  top: -72px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.left span:nth-child(6) {
  position: absolute;
  border: 1px solid #68AE22;
  height: 250px;
  left: 50px;
  top: -72px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.left span:nth-child(7) {
  position: absolute;
  border: 1px solid #68AE22;
  height: 240px;
  left: 60px;
  top: -72px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.right {
  position: relative;
}

.center {
  position: relative;
}

.center span:nth-child(1) {
  position: absolute;
  border: 1px solid #68AE22;
  height: 350px;
  left: -150px;
  top: -92px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.center span:nth-child(2) {
  position: absolute;
  border: 1px solid #68AE22;
  height: 450px;
  left: -140px;
  top: -151px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.center span:nth-child(3) {
  position: absolute;
  border: 1px solid #68AE22;
  height: 750px;
  left: -20px;
  top: -312px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.center span:nth-child(4) {
  position: absolute;
  border: 1px solid #68AE22;
  height: 750px;
  left: -50px;
  top: -322px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.center span:nth-child(5) {
  position: absolute;
  border: 1px solid #68AE22;
  height: 750px;
  left: -80px;
  top: -332px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.center span:nth-child(6) {
  position: absolute;
  border: 1px solid #68AE22;
  height: 750px;
  left: -110px;
  top: -342px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.center span:nth-child(7) {
  position: absolute;
  border: 1px solid #68AE22;
  height: 750px;
  left: -140px;
  top: -352px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.descript-txt-left {
  position: absolute;
  color: #fff;
  left: 100px;
  top: 20px;
  font-size: 26px;
  max-width: 400px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
}

.description-product {
  overflow: hidden;
  min-height: 600px;
  background-color: #0A0A0A;
  z-index: 2;
}

.description-product ul {
  margin-top: 20px;
  list-style: none;
}

.description-product ul li {
  background: #C4C4C4;
  margin: 15px;
  list-style: none;
  margin-top: 20px;
}

.description-product ul li h3 {
  font-weight: bold;
  font-family: "Roboto Condensed", sans-serif;
}

@media only screen and (max-width: 480px) {
  .description-product ul li h3 {
    font-size: 20px;
    display: block;
    max-width: 150px;
  }
}

.description-product ul li p {
  padding-top: 15px;
}

@media only screen and (max-width: 920px) {
  .description-product ul li p {
    font-size: 20px;
  }
}

@media only screen and (max-width: 480px) {
  .description-product ul li p {
    font-size: 16px;
  }
}

.description-product ul li:nth-child(1) {
  background-color: #0A0A0A;
  color: #ffffff;
  width: 400px;
}

.description-product ul li:nth-child(1) h2 {
  font-size: 40px;
  font-weight: bold;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
}

.description-product ul li:nth-child(2) {
  max-width: 765px;
  background-color: #000000;
  line-height: 25px;
}

.description-product ul li:nth-child(3) {
  max-width: 765px;
  background-color: #000000;
  line-height: 25px;
}

.description-product ul li:nth-child(4) {
  max-width: 765px;
  background-color: #000000;
  line-height: 25px;
}

.description-product ul li:nth-child(5) {
  max-width: 765px;
  background-color: #000000;
  line-height: 25px;
}

.products {
  z-index: 2;
}

.fa-volume-control-phone {
  -webkit-transform: scale(2);
          transform: scale(2);
}

.fa-volume-control-phone:hover {
  -webkit-transform: scale(2.1);
          transform: scale(2.1);
  color: green;
  background: inherit;
}

.fa-envelope {
  -webkit-transform: scale(2);
          transform: scale(2);
}

.fa-envelope:hover {
  -webkit-transform: scale(2.1);
          transform: scale(2.1);
  color: green;
  background: inherit;
}

.btn-sm {
  min-width: 50px;
  min-height: 50px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: yellow;
}

.btn-sm:hover {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}

.phone-companany {
  text-decoration: none;
}

.phone-companany i {
  text-decoration: none;
}

.navbar__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 10px;
}

@media only screen and (max-width: 768px) {
  .catalog__button button:nth-child(2) {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 480px) {
  .catalog__button button:nth-child(2) {
    margin-top: 10px;
  }
}
/*# sourceMappingURL=descript.css.map */